:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: #6d7f97;
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: #ecf2f8;
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* main body mobile version */
.preview {
    background-color: var(--white);
    width: 20.4375rem;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow:
        0px 1.6px 1.2px rgba(0, 0, 0, 0.004),
        0px 3.4px 2.7px rgba(0, 0, 0, 0.006),
        0px 5.8px 4.6px rgba(0, 0, 0, 0.008),
        0px 8.7px 6.9px rgba(0, 0, 0, 0.009),
        0px 12.5px 10px rgba(0, 0, 0, 0.01),
        0px 17.7px 14.2px rgba(0, 0, 0, 0.011),
        0px 25.1px 20.1px rgba(0, 0, 0, 0.012),
        0px 36.5px 29.2px rgba(0, 0, 0, 0.014),
        0px 56.3px 45px rgba(0, 0, 0, 0.016),
        0px 100px 80px rgba(0, 0, 0, 0.02);
}

.preview__hero {
    width: 20.4375rem;
    height: 12.5rem;
    border-radius: 12px 12px 0 0;
    background-image: url("../images/drawers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -1rem;
}

.preview__column {
    padding: 2.25rem 2rem 1.25rem 2rem;
}

/* title and article preview group */
.preview__content {
    width: 100%;
}

/* article title */
.preview__article-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: var(--very-dark-grayish-blue);
}

/* article summary */
.preview__article-summary {
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 0.2px;
    color: var(--desaturated-dark-blue);
    padding: 0.75rem 0.1875rem 2rem 0;
}

/* author photo and share options */
.preview__details {
    width: 100%;
    display: flex;
    align-items: center;
}

.preview__author-photo {
    background-image: url(../images/avatar-michelle.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin: 0 16px 0 0;
    padding: 20px;
}

/* contains author name and publication date */
.preview__article-info {
    flex-grow: 1;
}

.preview__author-name {
    color: var(--very-dark-grayish-blue);
    font-size: .8rem;
    font-weight: 700;
    padding: 0 0 0.125rem 0;
}

.preview__publish-date {
    color: var(--desaturated-dark-blue);
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .5px;
}

/* open social links code */
.preview__share {
    position: relative;
}

/* label for the checkbox input */
.preview__checkbox {
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    cursor: pointer;
}

/* actual checkbox  */
#share-check {
    opacity: 0;
    position: absolute;
    left: -100vw;
    transform: scale(1.7);
}

#share-check--blue {
    opacity: 0;
    position: absolute;
    left: -100vw;
    transform: scale(1.7);
}

.preview__checkbox--blue {
    background-color: var(--desaturated-dark-blue);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 0 0 2px; 
}

/* social media links covers preview__details */
.preview__social {
    background-color: var(--very-dark-grayish-blue);
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 20.4375rem;
    border-radius: 0 0 12px 12px;
    left: 0;
    bottom: 0;
    padding: 1.0625rem 2.0625rem 1.4375rem 2.0625rem;
}

/* decorative label */
.preview__section-label {
    font-size: 13px;
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 5px;
}

.preview__icon-group {
    display: flex;
    align-items: center;
    padding: 0 2.375rem 0 0;
}

/* for icons */
.preview__links {
    padding: 0 0.5rem 0 0.5rem;
}

@media screen and (min-width: 875px) {
    
    .preview {
        width: 45.625rem;
        border-radius: 10px;
        flex-direction: row;
    }
      
    .preview__hero {
        background-image: url("../images/drawers.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0px;
        border-radius: 10px 0 0 10px;
        width: 17.8125rem;
        height: 17.5rem;
    }
    
    .preview__column {
        display: flex;
        flex-direction: column;
        padding: 2.0625rem 2.5rem 1.875rem 2.5rem;
    }
    
    .preview__content {
        width: 22.75rem;
    }
    
    .preview__article-title {
        font-size: 1.25rem;
        line-height: 1.4;
    }
    
    .preview__article-summary {
        padding: 0.6875rem 0 1.3125rem 0;
    }

    .preview__author-name {
        font-size: .85rem;
    }
    
    .preview__social {
        background-color: var(--very-dark-grayish-blue);
        display: none;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 15.5rem;
        border-radius: 10px;
        bottom: 6rem;
        left: 34.3125rem;
        padding: 1.125rem 1.75rem 1.125rem 1.75rem;
    }

    .preview__social::after {
        content: '';
        position: absolute;
        top: 100%;
        left: calc(50% - 12px);
        border: 12px solid var(--grayish-blue);
        border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    }

    .preview__section-label {
        padding: 0 0 0 0.5rem;
    }

    .preview__checkbox--blue {
        display: none;
    }

    #preview__checkbox {
        background-color: var(--desaturated-dark-blue);
    }

    .preview__icon-group {
        padding: 0 0 0 0.625rem;
    }

}