:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--white);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.preview {
    width: 20.4375rem;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    box-shadow:
        0px 1.6px 1.2px rgba(0, 0, 0, 0.004),
        0px 3.4px 2.7px rgba(0, 0, 0, 0.006),
        0px 5.8px 4.6px rgba(0, 0, 0, 0.008),
        0px 8.7px 6.9px rgba(0, 0, 0, 0.009),
        0px 12.5px 10px rgba(0, 0, 0, 0.01),
        0px 17.7px 14.2px rgba(0, 0, 0, 0.011),
        0px 25.1px 20.1px rgba(0, 0, 0, 0.012),
        0px 36.5px 29.2px rgba(0, 0, 0, 0.014),
        0px 56.3px 45px rgba(0, 0, 0, 0.016),
        0px 100px 80px rgba(0, 0, 0, 0.02);
}

.preview__hero {
    width: 327px;
    height: 200px;
    border-radius: 18px 18px 0 0;
    background-image: url("../images/drawers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.preview__content {
    width: 100%;
    padding: 35px 34px 17px 33px;
}

.preview__article-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: var(--very-dark-grayish-blue);
}

.preview__article-summary {
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: var(--desaturated-dark-blue);
    padding: 12px 0 0 0;
}

.preview__details {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 39px 0 0 0;
}

.preview__author-photo {
    background-image: url(../images/avatar-michelle.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 40px;
    height: 40px; /* <--- is height necessary on square shapes? */
    margin: 0 17px 0 0;
}

.preview__article-info {
    
}

.preview__author-name {
    color: var(--very-dark-grayish-blue);
    font-size: .8rem;
    font-weight: 700;
    line-height: 2;
}

.preview__publish-date {
    color: var(--desaturated-dark-blue);
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.preview__share {
    background-image: url(images/icon-share.svg);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__attribution {
     font-size: 0.75rem; 
     text-align: center; 
     color: var(--white);
}

.footer__links {
    box-shadow: inset 0 0 0 0 hsl(228, 45%, 44%); /* ???**/
    color: hsl(228, 45%, 44%); /* ???*/
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.footer__links:hover {
    box-shadow: inset 100px 0 0 0 hsl(228, 45%, 44%);
    color: var(--white);
}

@media screen and (min-width: 800px) {
    .preview {
        width: 730px;
        border-radius: 18px;
        /* display: flex; */
        flex-direction: row;
    }
    
    .preview__hero {
        width: 285px;
        height: 280px;
        border-radius: 18px 0 0 18px;
        background-image: url("../images/drawers.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .preview__content {
        width: 445px;
        padding: 31px 41px 17px 41px;
    }
    
    .preview__article-title {
        font-size: 20px;
    }
    
    .preview__article-summary {
        padding: 6px 0 0 0;
    }
    
    .preview__author-name {
        font-size: .85rem;
    }
    
    .preview__details {
        margin: 16px 0 0 0;
    }

    .preview__share {
        
    }

}